<div class="container">
  <h2>解答</h2>
  No.1: カナダの首都はトロントである → いいえ（オタワ）</br>
  No.2: カナダには国王がいる → はい（カナダはイギリスのイギリス連邦王国加盟国であり、イギリス国王現チャールズ国王がカナダの国王でもある）</br>
  No.3: カナダの公用語は英語とフランス語である → はい</br>
  No.4: ジンジャーエールはカナダ人によって発明された → はい</br>
  No.5: カナダ国内には4つのタイムゾーンがある → いいえ（6つ）</br>
  No.6: イーロン・マスクはカナダの大学に在学していた → はい（カナダのクイーンズ大学に２年在学）</br>
  No.7: カナダの国獣はグースである → いいえ（ビーバー）</br>
  No.8: 赤毛のアンで有名な島はカナダのキング・エドワード島である → いいえ（プリンス・エドワード島）</br>
</div>
