<%= stylesheet_link_tag 'top' %>
<div class="container">
  <h2><span>カナダ雑学クイズ</span></h2>
  <%= image_tag 'ntf_404.png', alt: 'カナダ国旗', size: '150x100', class: 'rounded mb-4' %>
  <%= link_to "クイズに挑戦する", question_path(1), class: 'button' %>
</div>