.container h1 {
  font-family: 'cursive', cursive; /* フォントのスタイルを設定 */
  font-size: 32px; /* フォントサイズを調整 */
  color: #060606; /* テキストの色を指定 */
  padding: 10px 20px; /* パディングを追加 */
  text-align: center; /* テキストを中央に配置 */
  border-radius: 10px; /* 角丸のボーダーを設定 */
  
}

h2 {
  position: relative;
  margin: 30px;
  text-align: center;
}

h2:before,
h2:after {
  position: absolute;
  z-index: 0;
  bottom: -10px;
  display: block;
  content: '';
  border: 1em solid #d90606;
}

h2:before {
  left: -30px;
  border-left-width: 15px;
  border-left-color: transparent;
}

h2:after {
  right: -30px;
  border-right-width: 15px;
  border-right-color: transparent;
}

h2 span {
  position: relative;
  z-index: 1;
  display: block;
  padding: 1rem 2rem;
  color: #fff;
  background: #fa4141;
}

h2 span:before,
h2 span:after {
  position: absolute;
  bottom: -10px;
  display: block;
  width: 10px;
  height: 10px;
  content: '';
  border-style: solid;
  border-color: #b70505 transparent transparent transparent;
}

h2 span:before {
  left: 0;
  border-width: 10px 0 0 10px;
}

h2 span:after {
  right: 0;
  border-width: 10px 10px 0 0;
}

